<!DOCTYPE html>
<html>
  <head>
    <title>Snapz</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type => 'image/png' %>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,100,300,600,700' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <nav class="navbar">
      <div class="col-10 offset-1 col-sm-8 offset-md-2 col-md-6 offset-md-3">
        <%= link_to root_path, class: 'navbar-brand float-left' do %>
          <%= image_tag 'snapz.png', height: '40', width: '40', class: 'd-inline-block align-top', alt: 'Snapz Logo' %>
          Snapz
        <% end %>
        <div class="add float-right">
          <% if current_user %>
            You're signed in as <%= current_user.email %>.
            <%= link_to "New Post", new_gram_path %>
            <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "Sign In", new_user_session_path %>
            <%= link_to "Sign Up", new_user_registration_path %>
          <% end %>
        </div>
      </div>
      <br class="clear-fix" />
    </nav>
    <div class="col-10 offset-1 col-sm-8 offset-md-2 col-md-6 offset-md-3">
      <% if notice.present? %>
        <p class="notice"><%= notice %></p>
      <% end %>

      <% if alert.present? %>
        <p class="alert"><%= alert %></p>
      <% end %>
    </div>

    <%= yield %>

  </div>

  </body>

  <footer id="footer">
    <div class="container text-center">
      <%= link_to 'About Snapz', root_path %>
      <br />
    </div>
  </footer>
</html>
